@media only screen and (max-width: 1580px){
    .main-menu > ul > li{
        margin: 0 30px;
    }

    .content-right{
        padding-top: 50px;
        padding-left: 30px;
    }
    .home-variant .mobile-menu{
        display: block;
        position: absolute;
        top: 80px;
        right: -30px;
        background: #242627;
        color: #fff;
        cursor: pointer;
    }
    .left-header.show-menu{
        left: 0;
    }
    .left-header{
        left: -400px;
        -webkit-transition: linear 0.2s;
        -moz-transition: linear 0.2s;
        -ms-transition: linear 0.2s;
        -o-transition: linear 0.2s;
        transition: linear 0.2s;
    }
    .home-variant #wrapper{
        padding-left: 0;
    }
}

@media only screen and (max-width: 1366px){
    .main-menu > ul > li{
        margin: 0 20px;
    }
    .page-404, 
    .comming-soon {
        padding: 72px 100px;
    }
    .page-404 #wrapper, 
    .comming-soon #wrapper {
        padding: 90px 0;
    }
}

@media only screen and (max-width: 1199px){
    .home-creative .left-top-header .language   .setting-wrap,
    .home-creative .left-top-header .account  .setting-wrap{
        left: auto;
        right: 0;
    }
    .sort-attr .selectbox select{
        width: auto;
    }
    .page-heading ul li{
        display: none;
    }
    .page-heading ul li.active{
        display: block;
    }
    .site-header.header-home-02{
        max-width: 970px;
        margin: 0 auto;
    }
    .header-home-01 .right-header .account {
        margin-bottom: 10px;
    }
    .home-classic-01 .header-home .main-menu{
        top: 0;
        right: 0;
        left: auto;
    }
    .site-header.header-home-02 {
        position: relative;
    }
    .site-header.header-home-02 .main-menu:before{
        display: none;
    }
    .header-home-02 .top-search{
        left: 45px;
    }
    .header-home-02 .main-menu > ul{
        left: 15px;
        right: auto;
    }
    .site-header.header-home-02 .main-menu{
        position: absolute;
        top: 50%;
        left: 0;
    }
    .header-home-01 .right-header{
        padding-top: 5px;
    }
    .site-header.header-home-02 .container,
    .home-classic-01 .site-header.header-home-01 .container{
        width: 970px;
    }
    .supper-market .right-header{
        margin-right: 60px;
    }
    .supper-market .account > ul > li > span{
        display: block !important;
    }
    .supper-market .account{
        margin-right: 0;
        padding-top: 0;
    }
    .supper-market .account > ul > li > a{
        display: none;
    }
    .supper-market .dropdown > ul > li::after {
        display: none;
    }
    .supper-market .site-header .container{
        max-width: 970px;
        position: relative;
    }
    .home-dark .header-home-01 .main-menu{
        border-top: none;
        position: absolute;
        right: 75px;
        top: 59%;
    }
    .supper-market .right-header > ul > li{
        margin-left: 0;
    }
    .home-simple .site-content{
        padding: 0;
    }
    .home-simple .site-header .container{
        position: relative;
    }
    .home-simple .left-top-header{
        padding-top: 15px;
    }
    .home-simple .account{
        margin-bottom: 10px;
        margin-right: 0;
        text-align: right;
    }
    .home-dark .right-header > ul > li,
    .home-simple .right-header > ul > li{
        margin-right: 30px;
        margin-left: 0;
    }
    .header-home-01 .main-menu > ul > li > a,
    .home-simple .main-menu > ul > li > a:hover{
        color: #a3a5a8;
    }
    .header-home-01 .main-menu > ul > li > a,
    .home-dark .header-home-01 .main-menu > ul > li > a,
    .home-simple .main-menu > ul > li > a{
        color: #242627;
    }
    .home-simple .right-header{
        padding-top: 10px;
    }
    .home-dark .main-menu,
    .home-simple .main-menu{
        top: 35%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: auto;
        right: 0;
    }
    .site-header > .container{
        width: 970px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-menu{
        float: right;
        width: auto;
        padding-top: 10px;
    }
    .main-menu .sub-menu.menu-mega{
        width: 970px;
    }
    .main-menu .sub-menu.menu-mega .mega-item{
        width: 25%;
        margin-right: 0;
    }
    .mobile-menu{
        display: block;
    }
    .main-menu.open .mobile-menu:before{
        display: none;
    }
    .main-menu.open .mobile-menu:after{
        display: block;
    }
    .home-creative .main-menu .menu-main,
    .supper-market .menu-main,
    .main-menu > ul{
        position: absolute;
        top: 100%;
        right: 0;
        opacity: 0;
        width: 320px;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        background-color: #f7f7f7;
    }

    .home-creative .main-menu .menu-main{
        left: 15px;
        right: auto;
    }
    .supper-market .main-menu.open .menu-main,
    .home-creative .main-menu.open .menu-main,
    .main-menu.open > ul{
        opacity: 1;
        visibility: visible;
        z-index: 999;
        overflow-y: auto;
        max-height: 320px;
        padding: 15px;
    }
    .supper-market  .menu-main > li,
    .home-creative  .menu-main > li,
    .main-menu > ul > li{
        display: block;
        margin: 0;
        padding: 5px 0;
    }
    .main-menu ul li a{
        display: block;
        position: relative;
    }
    .main-menu .sub-menu {
        position: static;
        display: none;
        opacity: 1;
        margin-top: 0;
        visibility: visible;
        background: rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }
    .supper-market .site-header{
        max-width: 970px;
        margin: 0 auto;
    }
    .main-menu .sub-menu li a{
        padding:  0 10px;
    }
    .home-creative .main-menu{
        float: none;
    }
    .supper-market .left-top-header{
        display: none;
    }
    .supper-market .main-menu {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: 30px;
        width: 30px;
    }
    .supper-market .site-header{
        position: relative;
        z-index: 999;
    }
    .supper-market .main-menu::before {
        display: none;
    }
    .supper-market .menu-main > li ,
    .home-creative .menu-main > li {
        display: inline-block;
        margin: 0;
        padding: 5px 0;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;
    }
    .home-creative .main-menu .container .col-md-8{
        position: static;
    }
    .home-creative .main-menu .container{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .home-creative .left-top-header{
        margin-top: 3px;
    }
    .site-brand{
        position: relative;
        top: auto;
        left: auto;
        float: left;
    }
    .right-header{
        position: relative;
        top: auto;
        right: auto;
        float: right;
        margin-right: 30px;
    }
    .main-menu .arrow{
        display: block;
    }
    .main-menu li:hover > .sub-menu{
        margin-top: 0;
    }
    .main-menu .sub-menu.menu-mega{
        padding: 0 0 0 10px;
        left: 0;
        transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .main-menu .sub-menu.menu-mega .mega-item,
    .main-menu .sub-menu.menu-mega{
        width: 100%;
        float: none;
    }
    .main-menu .sub-menu.menu-mega .mega-item{
        margin-bottom: 15px;
    }
    .mega-item .menu-title{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .bloglist-sidebar .post .post-thumb{
        width: 50%;
        margin-right: 0;
    }
    .bloglist-sidebar .post .post-info{
        width: 50%;
        padding-left: 15px;
    }
    .bloglist-sidebar .link{
        margin-top: 5px;
    }
    .recent-news ul li a img{
        max-width: 33%;
    }
    .recent-prod ul li a .title,
    .recent-news ul li a .title{
        max-height: 48px;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .home-carousel .header-home-01 .main-menu{
        position: absolute;
        top: 8px;
        right: 75px;
        background: transparent;
        left: auto;
        padding-top: 0;
    }
    .home-carousel .header-home-01 .left-top-header,
    .home-carousel .header-home-01 .right-header{
        padding-top: 0;
    }
    .home-carousel .header-home-01 .main-menu > ul > li > a:hover{
        color: #a3a5a8;
    }
    .home-carousel .header-home-01 .main-menu > ul > li > a, .home-carousel .header-home-01 .main-menu > ul > li.current-menu-item > a{
        color: #242627;
    }
    .home-carousel .right-header > ul > li{
        margin-right: 10px;
        margin-left: 0;
    }
    .header-home-02 .site-brand{
        float: none;
    }
    .promotion-code .second-btn{
        float: none;
        margin-top: 15px;
    }
    .page-404, .comming-soon {
        padding: 82px 15px;
    }
    .comming-soon .countdown li{
        padding: 0 16px;
    }
    .btn-border{
        width: auto;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 991px){
    .home-simple .right-header{
        padding-top: 0;
    }
    .site-header.header-home-02 .container,
    .home-classic-01 .site-header.header-home-01 .container{
        width: 750px;
    }
    .shop-sidebar{
        margin-top: 50px;
    }
    .home-classic-02 .banner-item .banner-ct{
        width: 100%;
    }
    .sort-choice .selectbox select{
        width: auto;
    }
    .sort-choice > span{
        width: 100%;
    }
    .site-header.header-home-02{
        max-width: 750px;
        margin: 0 auto;
    }
    .supper-market .site-header{
        max-width: 750px;
        position: relative;
    }
    .home-simple .main-menu{
        top: 55%;
    }
    .home-simple .site-brand{
        padding-top: 10px;
    }
    .site-header > .container{
        width: 750px;
    }
    .search-popup .popup-inner{
        padding: 30px;
        width: 90%;
        height: 90%;
    }
    .search-div input[type="text"]{
        font-size: 36px;
        line-height: 48px;
    }
    .footer-widget .col-sm-6{
        margin-bottom: 30px;
    }
    .page-404 #wrapper, .comming-soon #wrapper{
        padding: 15px 0;
    }
    .page-404, .comming-soon{
        padding: 15px;
    }
    .footer-widget .col-sm-6:nth-child(3){
        clear: left;
    }
    .comming-soon p{
        letter-spacing: 0;
    }
    .blogdetails-sidebar .site-main,
    .sidebar-content .site-main,
    .bloglist-sidebar .site-main{
        margin-bottom: 60px;
    }
    .poster-detail{
        padding: 20px;
    }
    .poster-detail h3 {
        font-size: 18px;
        color: #f6d127;
        line-height: 28px;
    }
    .poster-detail h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .title-sale{
        left: 30%;
    }
    .box-center,
    .box-right{
        margin-top: 30px;
    }
    .home-dark .item-left .link{
        margin-bottom: 10px;
    }
    .home-carousel .purchase .btn-view{
        margin-bottom: 30px;
    }
    .supper-market .top-search{
        font-size: 32px;
        color: #242627;
        margin-right: 10px;
    }
    .supper-market .pull-right{
        float: none !important;
    }
    .comming-soon .countdown li span{
        font-size: 21px;
    }
    .page-404 .social li{
        padding: 0 10px;
    }
    .page-heading ul li.active{
        width: 285px;
    }
    .home-full .best-deal {
        padding-bottom: 60px;
    }
    .home-full .best-deal .content-right .btn-view {
        margin-top: 0;
    }
    .latest-blog-ct .pull-right {
        float: none !important;
    }
}

@media only screen and (max-width: 767px){
    .animated {
        visibility: hidden;
        opacity: 0;
    }
    .animated.visible {
        visibility: visible;
        opacity: 1;
    }
    .home-simple .main-menu > ul{
        left: 0;
    }
    .page-404 .social li span{
        display: none;
    }
    .site-header.header-home-02 .container,
    .home-classic-01 .site-header.header-home-01 .container{
        width: 100%;
    }
    .supper-market .account{
        vertical-align: top;
    }
    .home-carousel .account{
        margin-right: 0;
    }
    .comming-soon .countdown{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .home-dark .header-home-01 .right-header,
    .home-dark .site-brand{
        float: none;
        text-align: center;
        margin-right: 0;
    }
    .home-carousel .header-home-01 .main-menu{
        top: 15px;
        right: 30px;
    }
    .home-carousel .box-container{
        padding: 0 30px;
    }
    .home-creative .mobile-menu{
        margin-top: 7px;
    }
    .slider-contents h3, .slider-contents h2{
        font-size: 32px;
        line-height: 32px;
    }
    .slider-contents h2 span{
        font-size: 40px;
    }
    .home-creative .right-header,
    .home-creative .site-brand{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .slider-contents p{
        font-size: 16px;
        line-height: 16px;
    }
    .home-simple .left-top-header{
        text-align: center;
    }
    .home-simple .site-header{
        padding: 15px 0;
    }
    .home-simple .site-brand{
        width: 100%;
    }
    .home-simple .main-menu{
        left: 0px;
    }
    .site-header > .container{
        width: 100%;
    }
    .video{
        width: 100%;
        float: none;
    }
    .post-ct .div-left{
        display: block;
    }
    .entry-post .single-share{
        float: none;
        margin-top: 15px;
    }
    .single-share .socials li a{
        margin-left: 0;
    }
    .comment-body{
        margin-left: 0;
        padding-left: 0;
    }
    .comment-body:before{
        display: none;
    }
    .comment-meta{
        height: auto;
    }
    .comment-content{
        margin-top: 15px;
    }
    .comment-list .children{
        padding-left: 70px;
    }
    .blogdetails-fullwidth .post-ct-box{
        padding-left: 0;
    }
    .blogdetails-fullwidth .post-info{
        padding-right: 0;
    }
    .home-simple .best-deal .countdown li span{
        font-size: 20px;
    }
    .home-simple .right-header {
        padding-top: 0;
        position: absolute;
        right: 0;
        top: 15px;
        margin-right: 0;
        z-index: 9999;
    }
    .poster-item{
        margin-bottom: 30px;
    }
    .poster-item img{
        width: 100%;
    }
    .account.dropdown > ul > li::after{
        display: none;
    }
    .home-simple .account{
        margin-bottom: 0;
    }
    .title-sale{
        position: static;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-bottom: 30px;
    }
    .home-creative .home-slider .owl-carousel .owl-dots{
        bottom: 10px;
    }
    .home-creative .slider-contents h2 span{
        display: none;
    }
    .home-dark .header-home-01 .main-menu{
        top: 85%;
    }
    .full-content h2{
        font-size: 40px;
    }
    .home-classic-02 .banner {
        margin-bottom: 60px;
    }
    .banner-item{
        margin-bottom: 15px;
    }
    .home-classic-02 .banner-item{
        margin-bottom: 80px;
    }
    .right-header{
        margin-right: 0;
    }
    .home-variant .dropdown{
        margin-right: 10px;
    }
    .home-variant .account{
        margin-right: 0;
    }
    .home-carousel .right-header{
        margin-right: 20px;
    }
    .home-classic-01 .home-slider > .container .slider-contents{
        padding-right: 10px;
    }
    .home-classic-03 .banner-item img,
    .home-classic-02 .banner-item img,
    .home-classic-01 .banner-item img{
        width: 100%;
    }
    .content-right {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 640px){
    .bloglist-sidebar .post .post-thumb{
        width: 100%;
    }
    .images{
        text-align: center;
        margin-bottom: 30px;
    }
    .p-detail-info,
    .images{
        width: 100%;
    }
    .bloglist-sidebar .post .post-info{
        width: 100%;
        padding-left: 0;
    }
    .tab-heading {
        margin-bottom: 20px;
    }
    .tab-heading ul li {
        margin: 0 10px;
    }
    .tab-heading .theme-heading:after {
        display: none;
    }
    .tab-heading .theme-heading {
        margin-bottom: 0;
        font-size: 16px;
        padding-right: 10px;
        line-height: 30px;
    }
    .tab-products .owl-carousel .owl-nav > div.owl-prev,
    .tab-products .owl-carousel .owl-nav > div.owl-next{
        top: -50px;
    }
}

@media only screen and (max-width: 540px){
    .blog-box .box-thumb{
        float: none;
    }

    .sort-choice .filter-attr,
    .sort-choice .sort-attr,
    .sort-choice .selectbox select{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .home-classic-01 .left-top-header{
        display: none;
    }
    .home-classic-01 .header-home .main-menu{
        bottom: 5px;
        right: auto;
        left: 0;
        top: auto;
    }
    .box-container{
        padding: 0 20px;
    }
    .blog-box .box-detail{
        display: block;
    }
    .home-slider .slider-thumb img {
        height: 250px;
        min-width: 100%;
        max-width: none;
        width: auto;
    }
    .home-carousel .header-home-01 .right-header {
        float: none;
        text-align: center;
    }
    .home-carousel .header-home-01 .main-menu {
        bottom: -5px;
        right: 22%;
        top: auto;
    }
    .home-simple .right-header{
        /*position: static;*/
    }
    .active .slider-contents .btn-slider{
        margin-top: 10px;
    }
    .slider-contents h3, .slider-contents h2{
        font-size: 26px;
        line-height: 26px;
    }
    .slider-contents h2 span{
        font-size: 28px;
    }
    .home-simple .home-slider .owl-dots{
        bottom: 10px;
    }
    .pagination ul li{
        margin: 0 10px;
    }
    .pagination ul li:first-child a,
    .pagination ul li:last-child a{
        font-size: 0;
    }
    .pagination ul li:first-child a i.fa,
    .pagination ul li:last-child a i.fa{
        font-size: 26px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }
    .site-brand{
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    .main-menu{
        float: left;
    }
    .main-menu > ul{
        right: auto;
        left: 10px;
        width: 290px;
    }
    .home-carousel .main-menu > ul,
    .home-dark .main-menu > ul{
        right: -71px;
        left: auto;
        width: 320px;
    }
    .home-dark .main-menu > ul {
        right: -30px;
    }
    .home-simple .site-brand img{
        max-width: 200px;
    }
    .home-simple .right-header{
        bottom: 20px;
        top: auto;
    }
    .home-simple .right-header > ul > li{
        margin-right: 10px;
    }
    .home-simple .right-header > ul > li:last-child{
        margin-right: 0;
    }
    .home-simple .main-menu{
        top: 50%;
    }
    .supper-market .right-header{
        float: none;
        text-align: center;
    }
    .supper-market .main-menu{
        top: auto;
        bottom: 50px;
    }
    .supper-market .menu-main{
        right: -30px;
    }
    .supper-market .slider-contents{
        left: 15px;
    }
    .contact-map {
        height: 300px;
    }
    .home-creative .testimonial {
        padding: 55px 20px 22px;
    }
    .testimonial.testimonial-center {
        padding: 60px 20px;
    }
    .content-right {
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-variant .tab-heading {
        margin-bottom: 40px;
    }
    .home-variant .tab-products .tab-heading ul:first-child {
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .tab-products .tab-heading:after {
        content: "";
        display: block;
        clear: both;
    }
    .home-variant .filter-attr {
        float: left;
        margin-left: 0;
    }
    .home-variant .filter-attr select {
        padding-left: 0;
    }
    .blog-box .box-thumb {
        margin-right: 0;
    }
    .blog-box .box-detail {
        display: block;
    }
}
@media only screen and (max-width: 475px){
    .featured-products .col-xs-6,
    .tab-products .col-xs-6{
        width: 100%;
    }
    .col-xs-6.product-item{
        width: 100%;
    }
    .product-detail .quantity span{
        width: 25px;
    }
    .product-detail .quantity{
        width: 100px;
    }
    .product-detail-fullwidth .p-thumb-dt{
        margin-top: 15px;
    }
    .product-detail-fullwidth .p-thumb-dt{
        padding: 0 5px;
    }
    .product-detail-fullwidth .images{
        margin-left: 0;
        margin-right: 0;
    }
    .product-detail-fullwidth .p-preview{
        padding: 0;
    }
    .product-detail-fullwidth .p-preview,
    .product-detail-fullwidth .p-thumb-dt{
        width: 100%;
    }
    .product-detail-fullwidth.product-detail .images .p-thumb-dt ul li{
        width: 33.333%;
        padding: 0 5px;
    }
    .home-full .shop-item{
        right: -70px;
    }
    .home-variant .left-top-header{
        padding-top: 15px;
    }
    .header-home-02 .top-header .right-top-header{
        text-align: center;
        float: none;
    }
    .call-to{
        display: none;
    }
    .header-home-02 .currency .setting-wrap{
        left: 0;
        right: auto;
    }
    .supper-market .theme-heading{
        margin-bottom: 60px;
    }
    .home-dark .header-home-01 .main-menu{
        right: 30px;
        padding-top: 0;
    }
    .box-left .cat-detail{
        padding: 15px;
    }
    .cat-box-item h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .home-creative .main-menu .menu-main{
        left: 0;
    }
    .home-simple .right-header{
        position: static;
    }
    .home-creative .right-header > ul{
        padding-left: 10px;
    }
    .featured-products .theme-heading:before,
    .featured-products .theme-heading:after{
        display: none;
    }
    .featured-products .theme-heading{
        font-size: 20px;
    }
    .home-creative .right-header > ul > li{
        margin-left: 5px;
    }
    .home-creative .call-to{
        padding-right: 0;
        border: none;
    }
    .home-simple .main-menu{
        top: auto;
        bottom: -10px;
    }
    .shop-item{
        width: 300px;
        right: -70px;
    }
    .header-home-02 .shop-item,
    .home-classic-01 .shop-item,
    .home-variant .shop-item,
    .home-creative .shop-item{
        right: 0;
    }
    .home-variant .account .setting-wrap{
        right: 0;
        left: auto;
    }
    .home-dark .shop-item{
        right: -80px;
    }
    .comment-avatar{
        display: none;
    }
    .comment-list .children{
        padding-left: 30px;
    }
    .home-simple .right-header{
        margin-right: 0;
        margin-left: 30px;
        text-align: center;
    }
    .home-simple .main-menu {
        top: auto;
        bottom: -35px;
        left: 0%;
        right: auto;
    }
    .home-simple .shop-item{
        right: 0;
    }
    .comment-author{
        max-width: 65%;
    }
    .comment-reply-link{
        padding: 0 20px;
    }
    .quote{
        padding: 50px 18px 35px 20px;
    }
    .quote:before{
        left: 20px;
    }
    .comment-author span a{
        font-size: 16px;
    }
    .slider-product-content .owl-carousel .owl-nav, 
    .slider-product .owl-carousel .owl-nav,
    .slider-products .slider-product-content .owl-carousel .owl-nav,
    .blog-box .owl-carousel .owl-nav,
    .blog-slider .owl-carousel .owl-nav,
    .slider-ft-product .owl-carousel .owl-nav {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: -65px;
    }
    .blog-box .owl-carousel .owl-nav,
    .blog-slider .owl-carousel .owl-nav,
    .slider-ft-product .owl-carousel .owl-nav {
        position: absolute;
    }
    .blog-box .owl-carousel .owl-nav > div,
    .blog-slider .owl-carousel .owl-nav > div,
    .slider-ft-product .owl-carousel .owl-nav > div {
        position: static;
        margin: 0 5px;
    }
    .theme-heading{
        text-align: center;
        margin-bottom: 60px;
    }
    .account .setting-wrap{
        left: 0;
        right: auto;
    }
    .full-content input[type="email"]{
        min-width: auto;
        width: 100%;
        margin-bottom: 15px;
    }
    .home-simple .account .setting-wrap{
        left: auto;
        right: 0;
    }
    .left-header{
        width: 280px;
        left: -280px;
    }
    .home-variant .icon-box-content {
         padding: 30px 15px;
     }
    .slider-contents{
        top: 40%;
    }
    .left-header nav li {
        padding: 15px 0;
    }
    .left-header .left-menu{
        margin-top: 30px;
        padding-top: 30px;
    }
    .home-classic-01 .home-slider > .container .slider-contents h2{
        font-size: 20px;
    }
    .header-home-02 .top-search,
    .header-home-02 .shopping-cart-hd{
        bottom: 8px;
        top: auto;
    }

    .page-404 .social li{
        padding: 0 5px;
    }
    .site-header.header-home-02 .account .setting-wrap{
        left: auto;
        right: 0;
    }
    .site-header.header-home-02 .main-menu{
        bottom: 0;
        top: auto;
    }
}
@media only screen and (max-width: 415px){
    .bot-footer .socials ul li a{
        padding: 0 10px;
    }
}